{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<table align="center" border="2px">
  <thead>
    <tr>
      <th>Year</th>
      <th>Creation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1594</td>
      <td>Titus Andronicus</td>
    </tr>
    <tr>
      <td>1595—1596</td>
      <td>Romeo and Guliet</td>
    </tr>
    <tr>
      <td>1599</td>
      <td>Julius Caesar</td>
    </tr>
    <tr>
      <td>1600—1601</td>
      <td>Hamlet</td>
    </tr>
    <tr>
      <td>1604</td>
      <td>Othello</td>
    </tr>
    <tr>
      <td>1605—1606</td>
      <td>King Lear</td>
    </tr>
    <tr>
      <td>1606</td>
      <td>Macbeth</td>
    </tr>
    <tr>
      <td>1607</td>
      <td>Antony and Cleopatra</td>
    </tr>
    <tr>
      <td>1607—1608</td>
      <td>Coriolanus</td>
    </tr>
    <tr>
      <td>1608</td>
      <td>Troilus and Cressida</td>
    </tr>
    <tr>
      <td>1608</td>
      <td>Timon of Athens</td>
    </tr>
  </tbody>
</table>
{% endblock %}